/* General */
body {
    background-color: #f8f9fa !important;
    margin: 0;
    padding: 0;
  }
  
  /* Fuentes */
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
  
  /* Barra de navegación */
  .navbar-nav .nav-link {
    font-weight: 600; /* Engrosar el texto */
    font-size: 16px; /* Ajusta el tamaño de letra */
    color: #484747; /* Color del texto */
    padding-left: 21px; /* Espaciado entre los enlaces */
    padding-right: 15px; /* Espaciado entre los enlaces */
    transition: color 0.3s ease; /* Efecto suave al pasar el ratón */
    font-family: "Roboto Condensed", sans-serif; /* Usando la fuente Roboto Condensed */
  }
  
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover {
    color: #343434; /* Color de los enlaces activos y al pasar el ratón */
  }
  
  .navbar-nav {
    margin-left: 20px; /* Despega el menú a la derecha del logo */
    display: flex;
    gap: 15px; /* Espacio entre los elementos del menú */
  }
  
  .navbar-toggler {
    border-color: #fff; /* Color del borde */
  }
  
  .navbar-toggler-icon {
    background-color: #fff; /* Color del icono del menú */
  }
  
  /* Menú en pantallas pequeñas */
  @media (max-width: 768px) {
    .navbar-nav {
      margin-left: 0; /* Elimina el margen en pantallas pequeñas */
      flex-direction: column; /* Hace que los elementos del menú se alineen verticalmente */
    }
  
    .nav-link {
      font-size: 16px; /* Ajusta el tamaño de los enlaces en pantallas pequeñas */
      padding: 10px 0; /* Ajusta el espaciado vertical */
    }
  }
  
  /* Contenedor CTA */
  .cta-container {
    position: fixed; /* Posición fija */
    right: 20px; /* Espacio desde el borde derecho de la pantalla */
    top: 20px; /* Espacio desde el borde superior de la pantalla */
    padding: 10px 15px; /* Espaciado interno */
    font-family: "Roboto Condensed", sans-serif; /* Usando la fuente Roboto Condensed */
    display: flex;
    align-items: center;
    gap: 7px; /* Espacio entre el texto y la flecha */
    cursor: pointer;
    font-weight: 600; /* Engrosar el texto */
    font-size: 16px; /* Ajusta el tamaño de letra */
    color: #484747; /* Color del texto */
  }
  
  .cta-container span {
    font-size: 1rem; /* Tamaño del texto */
    color: #343434; /* Color del texto */
  }
  
  .cta-arrow {
    font-size: 1.5rem; /* Tamaño de la flecha */
    color: #343434; /* Color de la flecha */
  }
  
  /* Estructura de las 3 columnas */
  .container {
    display: flex;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
  }
  
  /* Sidebar */
.sidebar-column {
  position: absolute;
  left: 5%; /* Asegura que la columna esté alineada al borde izquierdo */
  top: 25%;
  height: 100vh;
  width: 10%;
  display: flex;
  justify-content: center; /* Centra horizontalmente la línea */
  align-items: center; /* Centra verticalmente */
}

.sidebar-line {
  position: relative; /* Base de referencia para el texto */
  height: 70vh; /* Tamaño fijo para la línea */
  width: 2px;
  background-color: #797878;
}

.sidebar-text {
  position: absolute; /* Posiciona el texto en relación a la línea */
  transform: rotate(-90deg) translateX(-50%);
  top: 50%; /* Centra verticalmente en la línea */
  left: 50%; /* Ajusta horizontalmente */
  font-size: 14px;
  font-weight: bold;
  color: #797878;
}


  
  /* Columna de texto */
  .text-column {
    width: 50%; /* Columna de texto ocupa el 50% */
    padding-left: 5%; /* Ajusta el espacio del lado izquierdo */
  }
  
  .titulo {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 210px;
    font-weight: bold;
    text-align: left;
    margin: 14% 0 0 11%;
  }
  
  .subtitulo {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: #333;
    text-align: left;
    margin: -1.5% 0 0 12%;
  }
  
  /* Columna de foto */
  .photo-column {
    width: 40%; /* Columna de la foto ocupa el 30% */
    height: 100vh; /* Asegura que la imagen ocupe toda la altura */
  }
  
  .photo {
    width: 100%; /* La imagen ocupa el 100% del ancho de la columna */
    height: 100%; /* La imagen ocupa el 100% del alto de la columna */
    object-fit: cover; /* Asegura que la imagen se recorte y cubra completamente el área */
  }
  