html,
body {
  background-color: #f8f9fa !important;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  font-family: "Roboto Condensed", sans-serif;
}
/* Menu Contenedor principal */
.navbar .container {
  margin-left: 4.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  position: relative;
  width: 10vw;
  max-width: 4.375rem;
}

/* Estilos del menú */
.navbar .nav-link {
  position: relative;
  padding: 0.5rem;
  color: #797878;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #c2c2c2;
  transition: height 0.5s ease-in-out;
}

.navbar .nav-link:hover::before {
  height: 90%;
}

.navbar .nav-link.active {
  color: #000;
}

.navbar .nav-item {
  margin-right: 1rem;
}

/* Estilos del CTA */
.cta-container {
  position: fixed;
  right: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #797878 !important;
  z-index: 1000;
  margin-right: 2%;
}

.cta-container p {
  margin: 0 25px 3px 0;
  font-size: 1.1rem;
  color: #555;
  line-height: 1.2;
  font-weight: 600;
}

/* Contenedor principal */
.full-width-section {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr; /* Proporción entre columnas */
  min-height: 80vh; /* Altura mínima */
  width: 100%; /* Ancho completo */
  margin: 0;
  padding: 0;
}

/* Estilos comunes de texto */
.text-column,
.sidebar-text {
  text-align: left;
}

.text-column,
.sidebar-column,
.text-column-servicios,
.servicios,
.image-title-container,
.form-column,
.contact-form,
.contact-form .row,
.contact-form .column,
.row.one-column {
  display: flex;
  flex-direction: column;
}
.text-column {
  justify-content: center;
  align-items: flex-start;
  margin-right: 10px;
  margin-top: 7%;
}
.text-column h1 {
  font-size: 210px;
  font-weight: lighter;
  line-height: 0.9;
  margin-top: 85px;
}

.text-column h2 {
  font-size: 25px;
  font-weight: lighter;
  line-height: 1.2;
  margin-left: 10px;
}

/* Columna Lateral */
.sidebar-column {
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa; /* Fondo opcional */
  margin-top: 15%;
}

.sidebar-text {
  font-size: 1.1rem;
  font-weight: bold;
  color: #c2c2c2;
  transform: rotate(-90deg);
  transform-origin: center;
  margin-bottom: 20%;
}

/* Linea Lateral */
.sidebar-line {
  width: 2px;
  height: 70%;
  background-color: #c2c2c2;
}

/* Columna de la imagen */
.photo-column {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 90vh; /* Altura proporcional */
  width: 100%;
  overflow: hidden; /* Evita cortes */
}

.photo-column img {
  height: 100%;
  width: auto; /* Mantiene proporciones */
  object-fit: contain;
  border-radius: 8px; /* Bordes redondeados opcionales */ 
}


.texto_movimiento {
  font-weight: 450;
  font-size: 30px;
  position: relative;
  width: 450px;
  margin-left: 10px;
}

.texto_movimiento p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.texto_movimiento .word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.texto_movimiento .letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.texto_movimiento .letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.texto_movimiento .letter.behind {
  transform: rotateX(-90deg);
}

.texto_movimiento .letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.texto_movimiento .wisteria {
  color: #8e44ad;
}

.texto_movimiento .belize {
  color: #2980b9;
}

.texto_movimiento .pomegranate {
  color: #c0392b;
}

.texto_movimiento .green {
  color: #16a085;
}

.texto_movimiento .midnight {
  color: #2c3e50;
}

/* Estilo para la sección de Tecnologías */
.Tecnologias {
  margin-left: 1%;
  text-align: start;
  margin-bottom: 10px; /* Unificamos el margen inferior aquí */
}

/* Estilo general para los párrafos dentro de Tecnologías */
.Tecnologias p {
  margin: 0 0 3px 0; /* Reduce márgenes para simplificar */
  line-height: 1.1; /* Espaciado entre líneas */
}

/* Estilo para el primer párrafo (Título) */
.Tecnologias p:first-child {
  font-weight: 500;
  font-size: 2rem;
}

/* Estilo para el segundo párrafo (Subtítulo) */
.Tecnologias p:nth-child(2) {
  font-size: 1rem;
  color: #797878;
  line-height: 1.2;
}

/* Estilo para la sección de Scroll Down */
.scroll_down {
  margin-top: 150px; /* Mueve este elemento hacia abajo */
  text-align: center;
}

.scroll_down p {
  margin: 0 0 3px 0; /* Reduce márgenes para simplificar */
  font-size: 1.1rem;
  color: #797878;
  line-height: 1.2;
  font-weight: 600;
}

/* Estilo para el contenedor exterior que tendrá el fondo */
.background-row {
  width: 100%; /* El contenedor ocupa todo el ancho */
  background-color: #f3f3f3; /* Color de fondo */
  padding: 0 15%; /* Alinea el contenido dentro de la página, similar a márgenes */
}

/* Estilo para la imagen */
.image img {
  width: 100%; /* Imagen ocupa toda la columna */
  height: auto; /* Mantiene las proporciones */
  object-fit: cover; /* Ajusta la imagen sin deformarla */
  border-radius: 8px; /* Borde redondeado opcional */
  margin: 10% 0 10% 0;    
}


/* Estilo para la imagen con efecto */
.service-imagen {
  max-width: 300px; /* Limita el tamaño máximo si es necesario */
}

/* Estilo para la imagen con efecto en contacto */
.contact-imagen,
.service-imagen {
  display: block;
  width: 100%; /* Asegura que ocupe el ancho total del contenedor */
  margin: 0 auto 25px auto; /* Centra horizontalmente y agrega margen inferior */
  overflow: hidden; /* Oculta desbordes de la imagen */
  border-radius: 8px; /* Esquinas redondeadas (opcional) */
  transition: transform 0.3s ease;
}

.service-imagen img,
.contact-imagen img {
  display: block;
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Ajusta la imagen dentro del contenedor */
  filter: grayscale(100%); /* Efecto blanco y negro inicial */
  transition: filter 0.3s ease; /* Animación suave para el cambio de color */
}

/* Efecto hover */
.service-imagen:hover,
.contact-imagen:hover {
  transform: scale(1.05); /* Amplía ligeramente la imagen en hover */
}

.service-imagen:hover img,
.contact-imagen:hover img {
  filter: grayscale(0); /* Cambia a color en hover */
}

/* Estilo para el contenido */
.content {
  text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilo para la sección de habilidades */
.skills-section {
  display: grid;
  gap: 30px; /* Espacio entre las filas */
  padding: 20px;
  margin: 0 15%; /* Márgenes izquierdo y derecho */
  border-radius: 10px; /* Bordes redondeados */
}

.row {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Definir dos columnas: una más estrecha para la imagen, y otra más ancha para el texto */
  gap: 20px; /* Espaciado entre las columnas */
  align-items: center; /* Centrar el contenido verticalmente */
  margin: 0 auto; /* Centra la fila */
}

.content {
  text-align: left; /* Alinea el texto a la izquierda */ 
}

.content_inicio_historia {   
  animation: zoomBlurScroll 2s ease-in-out forwards;
}

.content h2, .content_inicio_historia h2{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: rgb(88, 87, 87); /* Color del texto */
 
}

.content p, .content_inicio_historia p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333; /* Color del texto */
}

.second-row {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Definir columnas más estrechas para el texto */
  gap: 20px; /* Espaciado entre las columnas */
  align-items: center; /* Alineación vertical al centro */
  margin: 0 auto;
}

.second-row .content {
  padding: 10px; /* Espaciado interno */
}

.second-row h2 {
  font-size: 1.8rem;
  color: #333; /* Color oscuro */
  margin: 0;
}

.second-row p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-top: 10%;
}
.third-row {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr; /* Tres columnas: la columna central es más ancha */
  gap: 20px; /* Espacio entre las columnas */
  align-items: start; /* Alineación al inicio para que todo quede alineado al principio */
}

.third-row .content {
  padding: 10px; /* Espaciado interno */
}

.third-row h4 {
  font-size: 1rem;
  font-weight: 600;
  color: #333; /* Color de título */
  margin: 0;
}

.third-row p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

.third-row .tags {
  font-size: 0.9rem;
  color: #777; /* Color de las tags */
  font-style: italic;
}

.third-row .tags a {
  text-decoration: none;
  color: #333;
  margin-right: 5px;
}

.third-row .tags a:hover {
  color: #555; /* Color para cuando el cursor pasa sobre las etiquetas */
}

/* Sección CTA */
.cta-section {
  background-color: #f4f4f4;
  text-align: center;
  padding: 50px 20px;
}

.cta-section h1,
.cta-section p {
  color: #333;
  margin: 0 27% 0 27%;
}

.cta-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.cta-section p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

/* Botón CTA */
.cta-button {
  display: inline-block;
  background-color: #222;
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #555;
}

/* Estilo del botón */
#container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
/* Contenedor del slider */
.slider-container {
  width: 850px; /* Ancho fijo */
  overflow: hidden; /* Oculta contenido excedente */  
  margin: 20px auto; /* Centrado horizontal */
  position: relative; /* Posicionamiento interno */
  margin-left: 1%;
  margin-top: 3%;
}

/* Slider */
.slider {
  display: flex; /* Contenido en fila */
  gap: 10px; /* Espaciado entre ítems */
  animation: slide 10s linear infinite; /* Animación infinita */
 align-items: center;
}

/* Elementos individuales */
.slide-item {
  background-color: #6c6c6c; /* Fondo gris */
  color: #fff; 
  padding: 10px 15px; /* Espaciado interno */  
  font-family: Roboto, sans-serif; /* Fuente */
  font-size: .8rem; /* Tamaño de fuente */
  text-align: center; /* Centra texto */
  flex-shrink: 0; /* Evita que los ítems se encojan */
  white-space: nowrap; /* Evita que el texto se corte */
  display: inline-flex;
  align-items: center; /* Alineación vertical de los elementos dentro de .slide-item */  
  height: 23px; /* Establecer el alto */
  
}
.bullet {
  color: #fff;
  padding-right: 3px;
  font-size: 1.6rem; /* Tamaño más grande para el bullet */
  
}


/* Estilos Pagina SERVICIOS*/

.full-width-section-general {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 20vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.text-column-servicios {
  justify-content: flex-start;
  align-items: center;
  padding: 20px; /* Asegura que haya espacio alrededor del texto */
  text-align: center;
  max-width: 100%; /* Limitar el ancho para que no ocupe todo el espacio */
  margin-top: 4%;
}

/* Estilos del breadcrumb */
.breadcrumb {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  color: #555;
  background-color: #fff; /* Fondo blanco */
  padding: 1px 18px; /* Espaciado interno */
  border-radius: 15px; /* Bordes redondeados */
}

.breadcrumb .bullet {
  font-size: 1.8rem; /* Aumenta el tamaño del bullet */
  margin-right: 6px; /* Mantiene el espacio constante con el texto */
  line-height: 1; /* Asegura que no desplace verticalmente el contenido */
  display: flex;
  align-items: center; /* Centra perfectamente el punto */
}

.breadcrumb span {
  font-weight: 800;
  color: #333;
}

/* Estilos del breadcrumb para skills */
.skills-breadcrumb {
  display: inline-flex;
  align-items: center;
  font-size: 0.9rem; /* Tamaño más pequeño */
  color: #777; /* Color más gris */
  background-color: #f7f7f7; /* Fondo gris claro */
  padding: 5px 0px; /* Espaciado interno ajustado */
  border-radius: 12px; /* Bordes redondeados */
}

.skills-breadcrumb .bullet {
  font-size: 1.5rem; /* Tamaño del bullet un poco más pequeño */
  margin-right: 6px; /* Espacio constante con el texto */
  line-height: 1;
  display: flex;
  align-items: center; /* Centra el punto */
}

.skills-breadcrumb span {
  font-weight: 600; /* Un poco menos pesado que el original */
  color: #555; /* Un gris más oscuro para el texto */
}

/* Estilos para el subtítulo debajo del título de habilidad */
.skill-subtitle {
  font-size: 0.9rem; /* Tamaño pequeño para no sobrecargar */
  color: #777; /* Gris suave */
  font-weight: 300; /* Peso ligero */
  margin-top: 5px; /* Separación con el h4 */
  text-align: left; /* Alineación a la izquierda */
}
/* Estilos del boton cicular */
#wrapper {
  width: 80vw;
  height: 20vh;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-super-cool-btn {
  position: relative;
  text-decoration: none;
  color: rgb(64, 64, 64);
  letter-spacing: 1px;
  font-size: 1.5rem;
  box-sizing: border-box;
}
.my-super-cool-btn span {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
}
.my-super-cool-btn span:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border-radius: 100%;
  border: 7px solid rgb(60, 59, 59);
  box-sizing: border-box;
  transition: all 0.85s cubic-bezier(0.25, 1, 0.33, 1);
  box-shadow: 0 30px 85px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
}
.my-super-cool-btn:hover span:before {
  transform: scale(0.8);
  box-shadow: 0 20px 55px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
}
.my-super-cool-btn .dots-container {
  opacity: 0;
  animation: intro 1.6s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn .dot {
  width: 8px;
  height: 8px;
  display: block;
  background-color: #6f6f6c;
  border-radius: 100%;
  position: absolute;
  transition: all 0.85s cubic-bezier(0.25, 1, 0.33, 1);
}
.my-super-cool-btn .dot:nth-child(1) {
  top: 50px;
  left: 50px;
  transform: rotate(-140deg);
  animation: swag1-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.my-super-cool-btn .dot:nth-child(2) {
  top: 50px;
  right: 50px;
  transform: rotate(140deg);
  animation: swag2-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.my-super-cool-btn .dot:nth-child(3) {
  bottom: 50px;
  left: 50px;
  transform: rotate(140deg);
  animation: swag3-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.my-super-cool-btn .dot:nth-child(4) {
  bottom: 50px;
  right: 50px;
  transform: rotate(-140deg);
  animation: swag4-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.my-super-cool-btn:hover .dot:nth-child(1) {
  animation: swag1 0.3s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn:hover .dot:nth-child(2) {
  animation: swag2 0.3s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn:hover .dot:nth-child(3) {
  animation: swag3 0.3s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn:hover .dot:nth-child(4) {
  animation: swag4 0.3s;
  animation-fill-mode: forwards;
}
@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes swag1 {
  0% {
    top: 50px;
    left: 50px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    top: 20px;
    left: 20px;
    width: 8px;
    opacity: 1;
  }
}
@keyframes swag1-out {
  0% {
    top: 20px;
    left: 20px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    top: 50px;
    left: 50px;
    width: 8px;
    opacity: 0;
  }
}
@keyframes swag2 {
  0% {
    top: 50px;
    right: 50px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    top: 20px;
    right: 20px;
    width: 8px;
    opacity: 1;
  }
}
@keyframes swag2-out {
  0% {
    top: 20px;
    right: 20px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    top: 50px;
    right: 50px;
    width: 8px;
    opacity: 0;
  }
}
@keyframes swag3 {
  0% {
    bottom: 50px;
    left: 50px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    bottom: 20px;
    left: 20px;
    width: 8px;
    opacity: 1;
  }
}
@keyframes swag3-out {
  0% {
    bottom: 20px;
    left: 20px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    bottom: 50px;
    left: 50px;
    width: 8px;
    opacity: 0;
  }
}
@keyframes swag4 {
  0% {
    bottom: 50px;
    right: 50px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    bottom: 20px;
    right: 20px;
    width: 8px;
    opacity: 1;
  }
}
@keyframes swag4-out {
  0% {
    bottom: 20px;
    right: 20px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    bottom: 50px;
    right: 50px;
    width: 8px;
    opacity: 0;
  }
}

/* Estilos para el contenido de servicios */
.servicios {
  justify-content: flex-start; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  padding: 10px; /* Espacio interno alrededor del contenido */
  text-align: center; /* Centra el texto */
  max-width: 800px; /* Limitar el ancho máximo para mejorar la legibilidad */
  width: 100%; /* Asegura que ocupe todo el ancho disponible dentro de la columna */
}

.servicios h2 {
  font-size: 1.7rem;
  color: #333;
  font-weight: 500;
}

.servicios p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

/* Estilo del contenedor de la cuadrícula */
.services-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Columnas flexibles */
  gap: 30px; /* Mayor espacio entre elementos */
  padding: 20px;
  margin: 0 10%; /* Márgenes izquierdo y derecho */
  border-radius: 10px; /* Bordes redondeados */
}

.service-item {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 20px;
  transition: transform 0.3s ease;
  aspect-ratio: 1; /* Hace que los elementos sean más cuadrados */
  text-align: center; /* Centra el contenido */
}

.service-item:hover {
  transform: translateY(-5px);
}

.service-item h3 {
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.4rem;
  font-style: normal;
  margin-bottom: 15px; /* Espaciado inferior */
}
p {
  font-size: 1.9rem;
  color: #555;
  line-height: 1.2;
  margin-bottom: 20px;
}
.service-imagen {
  display: block;
  width: 100%; /* Asegura que ocupe el ancho total del contenedor */
  max-width: 300px; /* Limita el tamaño máximo si es necesario */
  margin: 0 auto 25px auto; /* Centra horizontalmente y agrega margen inferior */
  overflow: hidden; /* Oculta desbordes de la imagen */
  border-radius: 8px; /* Esquinas redondeadas (opcional) */
  transition: transform 0.3s ease;
}
 
/* .service-imagen img {
  display: block;
  width: 100%;
  height: auto; 
  object-fit: cover; 
  filter: grayscale(100%); 
  transition: filter 0.3s ease; 
} */

.service-item:hover .service-imagen {
  transform: scale(1.05); /* Amplía ligeramente la imagen en hover */
}

.service-item:hover .service-imagen img {
  filter: grayscale(0); /* Cambia a color en hover */
}

.service-item p {
  font-size: 0.9rem;
  line-height: 1.4; /* Aumenta la separación entre líneas */
  letter-spacing: 0.2px; /* Da un pequeño espaciado entre letras */
  margin: 10px 0; /* Espaciado superior e inferior */
  color: #777;
}

.services-section {
  position: relative;
  padding: 80px; /* Espaciado interno */
  margin: 10px; /* Margen de al menos 10px */
  border-radius: 8px; /* Bordes redondeados */
  width: auto;
  max-width: 100%; /* Asegura que no exceda el ancho disponible */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
  text-align: center;
  color: #fff; /* Cambié el color del texto a blanco para contrastar con el fondo */
  min-height: 350px;
}

.services-background-img {
  position: absolute; /* Posiciona la imagen detrás del contenido */
  width: 79%;
  height: 90%;
  object-fit: cover; /* Asegura que la imagen cubra la sección sin distorsionarse */
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la imagen al centro */
  border-radius: 8px; /* Bordes redondeados */
}

.services-section h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.services-section p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #fff; /* Cambié el color del texto a blanco para contrastar con el fondo */
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.services-section h1,
.services-section p,
#container-button,
.services-section h2,
.services-section h3 {
  position: relative; /* Asegura que estos elementos se muestren por encima de la imagen */
  z-index: 1; /* Los traemos al frente */
}

/* Estilo del botón */
#container-button-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
}

p + #container-button-servicios {
  margin-top: 30px; /* Agrega un margen superior solo al contenedor del botón */
}

/* Estilos de Contacto */

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas: una más ancha para el formulario */
  gap: 20px; /* Espacio entre las columnas */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Columna de la imagen y el título */
.image-title-container {
  justify-content: center; /* Centra verticalmente */
  align-items: flex-start; /* Alinea al margen izquierdo */
  padding: 20px;
  width: 100%;
}

.image-title {
  font-size: 1.5rem;
  color: #333;
  text-align: left;
  margin-bottom: 10px;
}

.image-container {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.hover-image {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.hover-image:hover {
  transform: scale(1.05); /* Efecto de zoom en hover */
}

/* Columna del formulario */
.form-column {
  margin-top: 2%;
  align-items: flex-start; /* Alinea todos los elementos a la izquierda */
  gap: 15px; /* Espaciado entre los elementos */
}

.contact-form .row {
  width: 100%; /* Para que los inputs ocupen todo el ancho disponible */
  align-items: flex-start; /* Alinea todos los elementos dentro de la fila a la izquierda */
  margin-bottom: 15px;
}

.contact-form .row.two-columns {
  display: flex; /* Usamos flexbox */
  flex-direction: row; /* Alineamos las columnas horizontalmente */
  gap: 15px; /* Espacio entre las columnas */
  align-items: flex-start; /* Alineamos los elementos en el eje vertical al principio */
  width: 100%; /* Nos aseguramos de que la fila ocupe el ancho completo */
}

/* Estilos para las columnas dentro de la fila */
.contact-form .row.two-columns .column {
  flex: 1; /* Hace que ambas columnas ocupen el mismo ancho */
  box-sizing: border-box; /* Para asegurarnos de que el padding y border no afecten el ancho */
  margin-left: -2%;
}

.contact-form .column {
  width: 100%;
}

.contact-form .column.small {
  flex: 1;
}

.contact-form .column.large {
  flex: 1;
}

.contact-form label {
  font-weight: bold;
  font-size: 0.9rem;
  color: #333;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

/* Asegurarse de que los inputs y textareas estén alineados a la izquierda */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  box-sizing: border-box;
  text-align: left; /* Alineación a la izquierda en inputs y textarea */
}

.contact-form input[type="checkbox"] {
  margin-right: 5px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #4a4d50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #555;
}

.contact-form .terms input[type="checkbox"] {
  width: 20px; /* Ajusta el tamaño del checkbox */
  height: 20px; /* Ajusta la altura del checkbox */
  margin: 0; /* Elimina el margen extra */
  margin-right: 5px;
  padding: 0; /* Elimina cualquier relleno extra */
  vertical-align: middle; /* Alinea el checkbox verticalmente */
}

/* Estilo general para todas las filas con clase one-column */
.row.one-column {
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en una columna */
  gap: 0.5px; /* Espacio entre el label y el input */
}

/* Estilo específico para los labels dentro de .row.one-column */
.row.one-column label {
  font-size: 14px; /* Ajusta el tamaño de fuente */
  font-weight: bold; /* Resalta el texto */
  margin-bottom: 4px; /* Espacio entre el label y el input */
  color: #333; /* Color del texto */
}

.row.two-columns label {
  font-size: 14px; /* Ajusta el tamaño de fuente */
  font-weight: bold; /* Resalta el texto */
  margin-bottom: 4px; /* Espacio entre el label y el input */
  color: #333; /* Color del texto */
  margin-left: 8px;
}
/* Estilo del footer */

.footer {
  background-color: #222;
  color: #fff;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo de las listas de enlaces */
.footer-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer-left ul li a,
.footer .social-icons a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-left ul li a:hover,
.footer .social-icons a:hover {
  color: #007bff; /* Color de enlace al hacer hover */
}

/* Estilo de los íconos sociales */
.footer .social-icons {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.footer .social-icons a {
  font-size: 1.5rem; /* Tamaño de los íconos */
}

footer p {
  font-size: 0.9rem;
  color: #888; /* Gris menos intenso para el texto */
  text-align: center; /* Centrado del texto */
  margin-top: 20px; /* Espaciado superior */
  margin-bottom: 10px; /* Espaciado inferior */
}
/* Pantallas desde 270px, dispositivos moviles */
@media (min-width: 270px) and (max-width: 699px) {
  .full-width-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar-text,
  .sidebar-line,
  .scroll_down {
    display: none;
  }
  .sidebar-column {
    margin-top: 5%;
  }
  .Tecnologias p {
    margin: 0 0 3px 0;
    text-align: center;
  }

  .Tecnologias p:first-child {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
  }
  .Tecnologias p:nth-child(2) {
    font-size: 0.8rem;
  }
  .text-column {
    margin-top: 1%;
  }
  .text-column h1 {
    font-size: 60px;
    margin-top: 35px;
    margin-left: 24%;
  }
  .texto_movimiento {
    width: 250px;
    margin-left: 14%;
  }

  .texto_movimiento .word {
    margin-left: -1%;
  }
  p {
    font-size: 0.8rem;
  }
  .photo-column {
    justify-content: center;
    padding-left: 16%;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .content {
    text-align: center;
  }
  .content h2 {
    font-size: 1.1rem;
    text-align: center;
  }
  .content p {
    font-size: 0.8rem;
  }
  .skill-subtitle {
    text-align: center;
  }
  .cta-section h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  .cta-section p {
    font-size: 1rem;
    margin-bottom: 20%;
  }
  .my-super-cool-btn span {
    width: 100px;
    height: 100px;
  }
  .my-super-cool-btn {
    font-size: 0.9rem;
  }
  .footer-left {
    display: none;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .servicios h2 {
    font-size: 1.1rem;
  }
  .servicios p {
    font-size: 0.8rem;
  }
  .slider-container {
    width: 280px; /* Ancho fijo */
    margin-right: 2%;
  }
}
@media (min-width: 700px) and (max-width: 1023px) {
  .sidebar-text,
  .sidebar-line,.scroll_down {
    display: none;
  }

  .text-column {
    justify-content: flex-start;
    align-items: start;
    margin-left: -5%;
  }
  .text-column h1 {
    font-size: 100px;
    margin-top: 15%;
  }

  .Tecnologias p:first-child {
    font-weight: 500;
    font-size: 1.5rem;
  }
  .Tecnologias p:nth-child(2) {
    font-size: 0.8rem;
  }

  .texto_movimiento {
    width: 270px;
  }

  p {
    font-size: 1.2rem;
  }
  .content p {
    font-size: 0.9rem;
  }
  .second-row p {
    margin-top: 25%;
  }  
  .skills-breadcrumb {
    margin-top: 4%;
  }
  .content h2 {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  .cta-section p {
    margin-bottom: 15%;
  }
  .my-super-cool-btn span {
    margin-bottom: 25%;
  }
  .footer-left {
    display: none;
  }
  .navbar-toggler {
    margin-right: -5%;
  }
  .slider-container {
    width: 300px; /* Ancho fijo */
  }
  
}

/* Pantallas desde 1024px */
@media (min-width: 1024px) {
  .text-column .Tecnologias {
    line-height: 3.5;
    margin-top: -20px; /* Desplaza hacia arriba el bloque de texto */
  }
  /* .text-column h1 {
    font-size: 130px;
  } */
  /* .texto_movimiento {
    width: 300px;
  } */
 /*  p {
    font-size: 1.2rem;
  } */
  .scroll_down {
    margin-top: 20%;
  }
  .skills-breadcrumb {
    margin-top: 2%;
  }
  
  .cta-section p {
    margin-bottom: 5%;
  }
  .my-super-cool-btn span {
    margin-bottom: 25%;
  }
  
}

/* Animaciones */

.scroll-container {
  height: 200vh; /* Área desplazable para activar animaciones */ 
}

@keyframes zoomBlurScroll {
  0% {
    transform: scale(0.4); /* 40% de tamaño */
    filter: blur(8px) /* Desenfoque inicial */
    
  }
  100% {
    transform: scale(1); /* 100% de tamaño */
    filter: blur(0) /* Sin desenfoque */
  
  }
}

/* Importo Fuente */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");


