html, body {
  background-color: #f8f9fa !important;
  margin: 0;
  padding: 0;
  height: 100%; /* Garantiza que el contenedor principal abarque toda la pantalla */
  overflow: hidden; /* Elimina cualquier posibilidad de scroll */
}


/* Importo Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

/* Ajusta el container de la navbar */
.navbar .container {
  margin-left: 4.5%; /* Corre el container hacia la izquierda */
  margin-right: auto; /* Evita que se desplace hacia la derecha */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacio entre el logo y el CTA */
}

/* Asegura que el CTA esté siempre alineado a la derecha */
.cta-container {
  position: fixed; /* Ancla el elemento a la pantalla */  
  right: 20px; /* Ancla el CTA a la derecha de la pantalla */
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color:#797878;
  z-index: 1000; /* Asegura que el CTA esté por encima de otros elementos */
}

.cta-container .cta-arrow {
  margin-left: 5px; /* Espacio entre el texto y la flecha */
}


/* Contenedor principal que ocupa el ancho total */
.full-width-section {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr; /* Ajusta la proporción entre las columnas */
  min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura visible */
  width: 100%; /* Ocupa el ancho completo de la pantalla */
  margin: 0; /* Elimina márgenes */
  padding: 0; /* Elimina paddings */
}

/* Sidebar Column */
.sidebar-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #f8f9fa; /* Color de fondo opcional */
  margin-top: 15%;
}

/* Sidebar Text */
.sidebar-text {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: #797878;
  transform: rotate(-90deg);
  transform-origin: center;
  margin-bottom: 20%;
}

/* Sidebar Line */
.sidebar-line {
  width: 2px;
  background-color: #797878;
  height: 70%;
  position: relative;
}

/* Texto de la columna central */
.text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  }

.text-column h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 250px;
  font-weight: bold;
  text-align: left;
  line-height: 0.9; /* Reduce el espacio vertical */  
}

.text-column h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 25px;
    font-weight: lighter;
    text-align: left;
    line-height: 1.2; /* Espaciado ajustado entre líneas */
    margin-left: 10px;
}

/* Columna de la imagen */
.photo-column {
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items:flex-start; /* Centra la imagen verticalmente */
  height: 100vh; /* Asegura que la columna ocupe toda la altura de la pantalla */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
}

.photo-column img {
  width: 115%; /* La imagen ocupará un 110% del ancho del contenedor, haciéndola más grande */
  height: auto; /* La altura se ajusta automáticamente manteniendo la proporción */
  object-fit:cover; /* Ajusta la imagen sin que se corte, manteniendo la proporción */
  border-radius: 8px; /* Redondeo opcional */
  }

.navbar .logo {
  width: 70px; /* Ajusta el tamaño del logo según sea necesario */
  position: relative;
}



/* Responsive ajuste para el margin */
@media (max-width: 768px) {
  .navbar .container {
    margin-left: 5%; /* Reduce el margen en pantallas pequeñas */
  }
}